@import url('https://fonts.googleapis.com/css?family=Nunito:400,500,600,700&display=swap');

*,
::after,
::before {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-size-adjust: 100%;
}

body {
    color: #222b45;
    margin: 0;
    padding: 0 !important;
    font-weight: 400;
    font-size: 1rem;
    font-family: 'Nunito', sans-serif;
    --primary-bg-color: 17, 29, 94;
    --primary-bg-color-light: 239, 245, 255;
    --primary-font-color: #fafafa;
    --secondary-bg-color: 0, 0, 0;
    --secondary-font-color: #fff;
    --success-bg-color: 0, 200, 117;
    --info-bg-color: 0, 149, 255;
    --warning-bg-color: 255, 170, 0;
    --danger-bg-color: 255, 61, 113;
}

.menu {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 5px 0 15px;
    flex: 1 0 auto;
    position: relative;
}
.menu__container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-shadow: 0 3px 6px #00000038;
    border-radius: 6px;
}
.menu__item-link {
    display: flex;
    font-size: 20px;
    line-height: 20px;
    padding: 20px;
    margin: 5px;
    text-transform: uppercase;
    border-radius: 6px;
}

.menu__item-link:hover {
    background-color: #00000038;
}

.content-container {
    flex: 1 0 auto;
    background-color: #fff;
    padding: 15px;
    position: relative;
    width: 100%;
    font-size: 14px;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}
.row::after {
    clear: both;
}
.row::after,
.row::before {
    display: table;
    content: ' ';
}

.page-container-admin {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 18px;
    color: #000;
    margin-bottom: 5px;
}
.content {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 3px 6px #00000038;
    color: rgba(0, 0, 0, 0.87);
    overflow: hidden;
    padding: 24px 17px 0 17px;
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.form-group {
    margin-bottom: 15px;
}
.form-control {
    background-color: #fff;
    border: 0;
    display: inline-flex;
    flex-direction: column;
    margin-bottom: 8px;
    margin-top: 16px;
    min-width: 0;
    padding: 0;
    position: relative;
    vertical-align: top;
    width: 100%;
}
.form-control-label {
    color: #505c80;
    font-size: 1rem;
    font-weight: 400;
    left: 0;
    line-height: 1;
    margin: 0;
    padding: 0;
    position: absolute;
    transition: color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    top: 0;
}
.form-control-input-container {
    align-items: center;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.87);
    cursor: text;
    display: inline-flex;
    font-size: 1rem;
    line-height: 1.1875em;
    margin-top: 16px;
    position: relative;
    width: 100%;
}
.form-control-input-container::before {
    border-bottom: 1px solid #687799;
    bottom: 0;
    content: '\00a0';
    left: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.form-control-input-container::after {
    border-bottom: 2px solid #111d5e;
    bottom: 0;
    content: '';
    left: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    transform: scaleX(0);
    transition: transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
}
.form-control-input-container:hover::before {
    border-bottom: 2px solid rgba(0, 0, 0, 0.87);
}
.form-control-input-container:focus-within::before {
    border-bottom: 2px solid #111d5e;
}
.form-control-input-container.focused::after {
    transform: scaleX(1);
}

.form-control-input-content {
    background: transparent;
    border: 0;
    box-sizing: content-box;
    color: rgba(0, 0, 0, 0.87);
    cursor: text;
    display: block;
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    height: 1.1875em;
    margin: 0;
    min-width: 0;
    line-height: 1.1875em;
    padding: 6px 0 7px;
    width: 100%;
    -webkit-tap-highlight-color: transparent;
}

.form-control-input-content:focus {
    outline: none !important;
    outline-offset: 0px;
}

.just-between {
    display: flex;
    justify-content: space-between;
}

.btn {
    align-items: center;
    background-color: transparent;
    border-radius: 4px;
    border: 0;
    color: rgba(0, 0, 0, 0.87);
    cursor: pointer;
    display: inline-block;
    font-size: 0.875rem;
    font-weight: 550;
    padding: 6px 8px;
    min-width: 64px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
        border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    line-height: 1.75;
    text-transform: none;
    margin: 0;
    margin-right: 5px;
    outline: 0;
    overflow: hidden;
    position: relative;
    user-select: none;
    vertical-align: middle;
    -moz-appearance: none;
    justify-content: center;
    text-decoration: none;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
}
.btn-contained {
    padding: 6px 16px;
    color: #fafafa;
    background-color: #111d5e;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
        0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}
.btn-label {
    width: 100%;
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
}
.btn:hover {
    background-color: #eff5ff;
}

.btn:focus {
    background-color: #eff5ff;
}
.btn-contained:hover,
.btn-contained:focus {
    background-color: rgb(11, 20, 65);
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
        0px 8px 10px 1px rgba(0, 0, 0, 0.14),
        0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.btn-contained:active {
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
        0px 8px 10px 1px rgba(0, 0, 0, 0.14),
        0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}
.ripple {
    background-color: rgb(133, 133, 133);
    border-radius: 50%;
    pointer-events: none;
    position: absolute;
    animation: ripplesAnimate 0.8s linear infinite;
    transform: translate(-50%, -50%);
    z-index: 1;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar,
::-webkit-scrollbar-track {
    background-color: rgba(200, 200, 200, 0.1);
}
::-webkit-scrollbar-thumb {
    background-color: grey;
    border-radius: 100px;
    border: 4px solid #a9a9a9;
}
::-webkit-scrollbar-button {
    display: none;
}
.col-lg-6,
.col-md-6,
.col-sm-12,
.col-xs-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.col-xs-12 {
    width: 100%;
}

@media (min-width: 768px) {
    .col-sm-12 {
        float: left;
        width: 100%;
    }
}
@media (min-width: 992px) {
    .col-md-6 {
        float: left;
        width: 50%;
    }
}
@media (min-width: 1200px) {
    .col-lg-6 {
        float: left;
        width: 50%;
    }
}
@media (max-width: 720px) {
    #app div,
    .adminRoot,
    .body,
    html {
        font-size: 12px;
    }
}
@media (max-width: 1281px) {
    #app div,
    .adminRoot,
    .body,
    html {
        font-size: 14px;
    }
}
#app div,
.adminRoot,
.body,
html {
    max-height: 100vh;
    font-size: 14px;
}
@keyframes ripplesAnimate {
    0% {
        width: 0px;
        height: 0px;
        opacity: 0.5;
    }
    100% {
        width: 450px;
        height: 450px;
        opacity: 0;
    }
}
